


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
  font-family: 'Oswald', sans-serif;
  margin: 0 !important;
  left: 0 !important;
  right: 0 !important;
  overflow-y: scroll;
  font-size: large;
}


#main{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}
  
body::-webkit-scrollbar {
  display: none;
}

  
#main_description {
  flex: 1 0 100%;
  text-align: center;
  background-color: rgba(211, 210, 210, 0.4);
  margin-top: 100px;
}

#issues, #themes {
    flex: 4 1 350px;
}


#first_subsection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;

}

#second_subsection {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap-reverse;
  align-items: flex-end;
  background-color: rgba(211, 210, 210, 0.4);
  
}

  #image_fs img, #image_ss img{
    width: 100%;
    
  }


  #image_fs,  #image_ss {
    flex: 1 1 550px;
    padding: 20px;
  }

  
  #close-button-navabar {
    cursor: pointer;
    align-self: flex-end;
    margin-right: 10%;
  }
  
  #open_menu:hover  {
    color: lightsteelblue;
  }
  
  #open_menu  {
    cursor: pointer;
  }
  
  #close-button-navabar:hover  {
    color: lightsteelblue;
  }
  
  #Hidden-navbar select{
    border-radius: 10px;
    padding: 5px;
  }
  
  
  
  
  /*-------------------------------------------*/
  /* ---------Navbar in the UPPER SIDE---------*/
  /*-------------------------------------------*/
  
  #Navbar {
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    
  }
  

  
  #change_page {
    cursor: pointer;
  }
  
  #change_time {
    pointer-events: pointer;
    cursor: pointer;
  }

  #about_section {
    text-align: center;
    flex: 0 1 100%;
    background-color: #708d9e;
  }

  #image_part {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .profile_image {
      flex: 1 0 250px;
      text-align: center;
  }

    
  .profile_image img {
    width: 250px;
  }



  #bottom_page {
      display: flex;
      background-color: rgba(211, 210, 210, 0.4);
      font-size: small;
      justify-content: center;
      text-align: justify;
      padding: 30px 100px 20px 100px;
  }
  

  #hidden-part {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 20;
    flex-direction: column;
    background-color: rgba(211, 210, 210, 0.95);
  }
  
  #close_menu:hover  {
    color: lightsteelblue;
  }
  
  #close_menu  {
    cursor: pointer;
  }
  
  
  #blocks-navbar {
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
  
  }
  
  .blocks-select {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-left: 10px;
    font-size: xx-large;
  
  }
  
  hr {
    color: black;
  }
  
  .blocks-select hr {
    width: 80%;
  
  }

  .click_position {
    cursor: pointer;
  }
  
  
  .click_position:hover  {
    color: lightsteelblue;
  }

  .change_time {
    pointer-events: pointer;
    cursor: pointer;
  }
  
  .change_time:hover {
    color: lightsteelblue;
  }
  

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


@media only screen and (max-width: 740px) {

  #main{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

  #bottom_page {
    padding: 30px 20px 20px 20px;
}

.blocks-select {
  font-size: large;

}

.b {
  font-size: large;
}


  }