
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');










/* filter part */

#container-metadata {
  z-index: 20;
  position: fixed;
  display: grid;
  grid-template-areas: "head head head"
                        "left center right"
                        "foot foot foot";
  grid-auto-rows: fit-content(100%);
  grid-template-columns: fit-content(100%);
  background-color: rgba(255, 255, 255, 0.95);
  width: 100vw;
  height: 0;
  overflow: hidden;
  
}

.transition {
  transition: 0.5s;
}

#head-metadata {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 80px;
  grid-area: head;
  justify-content: flex-end;
  margin: 0;
}



#metadata-center-article {
  font-size: large;
  grid-area: center;
  padding: 20px;
  justify-content: center;
  padding-left: 40px;
  overflow-y: scroll;
  white-space: wrap;
  overflow-wrap: break-word;
}

#Named_entites {
  line-height: 40px;
}

#topics {
  line-height: 40px;
}

#topics button, #topics label, #topics input {
  margin: 5px;
}

#Named_entites button, #Named_entites label, #Named_entites input {
  margin: 5px;
}


#topics button,  #Named_entites button{
  border-radius: 5px;
  background-color: white;
  width: fit-content;
  font-size: medium;
}

#topics input, #Named_entites input {
  width: 30px;
}

.general_info {
  line-height: 30px;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
  border-radius: 10px;
  padding: 10px;

}

#metadata-right-article {
  font-size: large;
  grid-area: right;
  padding: 20px;
  padding-left: 40px;
  overflow-y: scroll;
  white-space: wrap;
  overflow-wrap: break-word;
}


#metadata-left-article {
  font-size: large;
  grid-area: left;
  padding: 20px;
  padding-left: 40px;
  overflow-y: scroll;
  white-space: wrap;
  overflow-wrap: break-word;
}

#metadata-foot {
  grid-area: foot;
}

#close-button-metadata {
  padding: 20px;
  margin-right: 50px;
  cursor: pointer;
}

#metadata-center-article::-webkit-scrollbar,
#metadata-right-article::-webkit-scrollbar, 
#metadata-left-article::-webkit-scrollbar {
  display: none;
}




#cover-page {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  z-index: 3;
  display: grid;
  grid-template-areas: "head"
                        "center"
                        "foot";
  grid-template-rows: 0.8fr 12fr 1fr;
  margin: 0;
  height: 100vh;
  width: 100vw;
  transition: 0.7s;
  cursor: pointer;
  pointer-events: none;
}

#image_open_articles {
  z-index: 1;
  position: absolute;
  height: 60%;
  width: 22%;
  justify-self: center;
  align-self: center;
  background-repeat: no-repeat;
  transition-duration: 0.5s;
}


table{
  border: 1px solid black;
  margin: 1px;
  
}

th, td {
  padding: 10px;
}


.button_new {
  font-size: x-large;
  padding: 10px;
  border:thin 2px;
  border-radius: 20px;
  margin:10px;
}














.button_2030 {
  font-size: x-large;
  padding: 10px;
  border:thin 2px;
  border-radius: 20px;
  margin:10px;
}

.dev_tools {
  background-color: white;
  border:thin 2px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  width: 100%;
}

.dev_tools_center {
  background-color: white;
  border:thin 2px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
  width: 100%;
}

.dev_tools_center iframe {
  width: 100%;
  height: 540px;
}


.tool {
 padding: 30px;

}

.dev_tools iframe {
  width: 100%;
  height: 360px;
}


.drop-nav > ul {
  display: none;
}

.drop-nav.active > ul {
  display: block;
}








































body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0 !important;
  padding: 0 !important;
  left: 0 !important;
  right: 0 !important;
  overflow-y: scroll;

}

body::-webkit-scrollbar {
  display: none;
}


.big-box {
  display: grid;
  grid-template-areas: "head head head"
                        "body body body"
                        "image image image"
                        "foot foot foot";
  grid-auto-rows:fit-content(100%);
  grid-auto-columns: fit-content(100%);
  
}

#upper_part .section {
  box-shadow: 0px 8px 12px 1px rgba(128, 120, 120, 0.6);
  width: 50%;
  margin: 10px;
  padding: 40px;


}

.button_new {
  border:thin 2px;
  border-radius: 20px;
  margin:10px;
}


#image_background {
  position: fixed;
  z-index: 0;

  height: 100vh;
  width: 100vw;
  background-size: 100vw 100vh;
}



#Navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  background: rgba(255, 255, 255, 1);
  height: 80px;
  grid-area: head;
  box-shadow: 0px 12px 2px 1px rgba(0, 0, 0, 0.1);
  font-family: Georgia, 'Times New Roman', Times, serif;
  z-index: 1;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.navbar-element {
  font-size: x-large;
  padding: 10px;
  margin-left: 30px;
  
}


#upper_part {
    margin-top: 120px;
    z-index: 1;
    grid-area: body;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#bottom_page {
    z-index: 1;
    border-top: 3px solid black;
    grid-area: foot;
    display: flex;
    justify-content: center;
}

#bottom_page .section {
  padding: 20px;

  

}


#image_part {
  z-index: 1;
  grid-area: image;
  display: flex;
  width: 100%;
  justify-content: center;
  
}


.profile_image {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 2px 1px rgba(180, 180, 180, 0.8);
  padding: 10px;

  
}

.profile_image img {
  width: 240px;
}


.profile_image figcaption {
  width: 240px;
}

.images_text {
  display: flex;
  flex-wrap: wrap;

}

.images_text img{
  width: 30%;
  height: 30%;
  margin: 20px;

}

  /* Rules for sizing the icon. */
  .material-icons.md-18 { font-size: 18px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }
  
  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
  
  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light { color: rgba(255, 255, 255, 1); }
  .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

