

body{
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

/*-------------------------------------------*/
/* -------------ARTICLE SECTION--------------*/
/*-------------------------------------------*/

#section-article {
  position: relative;
  display: flex;
  height: 85%;
  width: 100%;
  z-index: 1;
}

#section-article img {
  width: 500px;
  height: 400px;
  max-width: 100%;
  height: auto;
}

.article {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow-y: scroll;
}


#left-article {

}

#right-article {

}

#center-article {

}
  
  #left-article::-webkit-scrollbar,
  #right-article::-webkit-scrollbar, 
  #center-article::-webkit-scrollbar {
    display: none;
  }



#open_menu:hover  {
  color: lightsteelblue;
}

#open_menu  {
  cursor: pointer;
}




/*-------------------------------------------*/
/* ---------Navbar in the UPPER SIDE---------*/
/*-------------------------------------------*/

#Navbar {
  position: relative;
  width: 100%;
  height: 40px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  
}

.navbar-element {
  font-size: large;
}

.text-navbar {
  font-size: xx-large;
}


#change_page {
  cursor: pointer;
}

#metadata{
  margin: 10px;
  pointer-events: pointer;
  cursor: pointer;
}

#metadata:hover  {
  color: lightsteelblue;
}

#change_time {
  pointer-events: pointer;
  cursor: pointer;
}

#issue{
  font-size: 28px;
}

/*-------------------------------------------*/
/* ---------Navbar in the DOWN SIDE----------*/
/*-------------------------------------------*/

#Navbar-issue {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; 
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 95%;
  z-index: 3;
}

#section-open-button {
  height: 10%;
  width: 100%;
  background-color: white;
  display:flex;
  flex-direction: column;       /*--BUTTON PART--*/         
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: medium;
}


#section-open-button:hover {
  color: lightsteelblue;
}


#section-images_issue {
  display: flex;
  flex-wrap: wrap;      /*--IMAGE ISSUES PART--*/    
  width: 100%;
  height: 90%;
  align-items: center;
  justify-content: space-around;
}

.images_issue{
  flex: 0 1 25%;
  cursor: pointer;
}

.images_issue img{
  width: 100%;
}



/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/*-------------------------------------------*/
/* -------------METADATA SECTION-------------*/
/*-------------------------------------------*/

#section-metadata {
  z-index: 20;
  position: absolute;
  display: none;
  grid-template-areas: "head head head"
                        "left center right"
                        "foot foot foot";
  grid-auto-rows: fit-content(100%);
  grid-template-columns: fit-content(100%);
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.transition {
  transition: 0.5s;
}

#head-metadata {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 40px;
  grid-area: head;
  justify-content: flex-end;
  margin: 0;
}



#metadata-center-article {
  font-size: large;
  grid-area: center;
  padding: 20px;
  justify-content: center;
  padding-left: 40px;
  overflow-y: scroll;
  white-space: wrap;
  overflow-wrap: break-word;
}

#Named_entites {
  line-height: 40px;
}

#topics {
  line-height: 40px;
}

#topics button, #topics label, #topics input {
  margin: 5px;
}

#Named_entites button, #Named_entites label, #Named_entites input {
  margin: 5px;
}


#topics button,  #Named_entites button{
  border-radius: 5px;
  background-color: white;
  width: fit-content;
  font-size: medium;
}

#topics input, #Named_entites input {
  width: 30px;
}

.general_info {
  line-height: 30px;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6);
  border-radius: 10px;
  padding: 10px;

}

#metadata-right-article {
  font-size: large;
  grid-area: right;
  padding: 20px;
  padding-left: 40px;
  overflow-y: scroll;
  white-space: wrap;
  overflow-wrap: break-word;
}


#metadata-left-article {
  font-size: large;
  grid-area: left;
  padding: 20px;
  padding-left: 40px;
  overflow-y: scroll;
  white-space: wrap;
  overflow-wrap: break-word;
}

#metadata-foot {
  grid-area: foot;
}

#close-button-metadata {
  padding: 20px;
  margin-right: 50px;
  cursor: pointer;
}

#metadata-center-article::-webkit-scrollbar,
#metadata-right-article::-webkit-scrollbar, 
#metadata-left-article::-webkit-scrollbar {
  display: none;
}


#hidden-part {
  flex: 0 0 25%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 20;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(211, 210, 210, 0.8);
}

#close_menu:hover  {
  color: lightsteelblue;
}

#close_menu  {
  cursor: pointer;
}


#blocks-navbar {
  vertical-align: center;
  margin-left: 20px;
  margin-right: 20px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.blocks-select {
  background-color: #7697a0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  font-size: xx-large;
  border-radius: 20px;

}

#block-time {

}

.b {
  font-size: xx-large;
  margin: 10px;
  background-color: rgba(211, 210, 210, 1);
  padding: 10px;
  border-radius: 20px;
}


